* {
    margin: 0;
    padding: 0;

}

:root {
    --primary_color: #d1dedd;
    --secondary_color: #6fc5bc;
    --accent1_coloe: #dbdba8;
    --accent2_color: #7baba6;
    --text_black: #000;
    --text_white: #fff;

}

header {
    margin-block: 30px;
    margin-inline: 30px;
    display:grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-column: 2/3;
    justify-content: space-around;

}

header nav {
    display: flex;
    align-self:center;
    flex-wrap:wrap;
    width: 100%;
    gap: 50px;
}

header nav a {
    font-size: 20px;
    color: var(--text_black);
    display: block;

}

/*Main*/
.herodiv {
    width: auto;
    height: 300px;
    margin: 0 8%;
    margin-top: 50px;
    background-image: url("https://likechocolate-web.github.io/wdd130/wwr/images/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 70px 120px;
    gap: 40px;
    padding: 30px;
    align-items: center;
}


h1 {
    font-family: "Iansui", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #00000088;
    border-radius: 15px;
    padding: 10px 0;

}

.inside {
    display: flex;
    background-color: #00000088;
    width: 100%;
    align-items: center;
}

.inside p {
    width: 80%;
    font-size: 20px;
    text-align: start;
    color: #fff;
    margin-left: 10px;
}

.inside img {
    width: 20%;
    height: auto;
}

.history-section {
    margin-block: 30px;
    margin-inline: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    padding: 20px;
    text-align: start;
    background-color: var(--accent1_coloe);
    font-family: "Barlow Condensed", sans-serif;
}

.history-section h2 {

    font-family: "Iansui", cursive;
    font-style: normal;
    color: var(--accent2_color);
    grid-column: 1 / -1;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.img-history img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-items: center;
}

section {
    margin-block: 30px;
    margin-inline: 30px;
    background-color: var(--accent1_coloe);
    padding: 20px;
}

.inside-2 {
    text-align: center;
    font-family: "Iansui", cursive;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.inside-2 h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--accent2_color);
    font-style: normal;
}

.hola {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
}

.hola figure {
        text-align: center;
        margin: 0;
}

.hola img {
        width: 200px;
        height: 200px;
        display: block;
}

.hola figcaption {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-size: 15px;
        background-color: #00000088;
        color: white;
        
}

a {
    text-decoration: none;
}

/*Footer*/
footer {
    display: flex;
    max-width: 100%;
    background-color: var(--accent2_color);
    align-items: center;
    font-size: 18px;
    padding: 20px;
    margin-block: 30px;
    margin-inline: 30px;
}

footer p {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.sociallinks {
    display: flex;
    gap: 30px;

}