* {
    margin: 0;
    padding: 0;

}

:root {
    --primary_color: #d1dedd;
    --secondary_color: #6fc5bc;
    --accent1_coloe: #dbdba89a;
    --accent2_color: #7baba6;
    --text_black: #000;
    --text_white: #fff;

}

header {
    margin-block: 30px;
    margin-inline: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-column: 2/3;
    justify-content: space-around;

}

header nav {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}

header nav a {
    font-size: 20px;
    color: var(--text_black);
    display: block;

}

/*Main*/
.herodiv {
    width: auto;
    height: 300px;
    margin: 0 8%;
    margin-top: 50px;
    background-image: url("https://likechocolate-web.github.io/wdd130/wwr/images/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 70px 120px;
    gap: 40px;
    padding: 30px;
    align-items: center;
}


.herodiv h1 {
    font-family: "Iansui", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #00000088;
    border-radius: 15px;
    padding: 10px 0;

}

.inside {
    display: flex;
    background-color: #00000088;
    width: 100%;
    align-items: center;
}

.inside p {
    width: 80%;
    font-size: 20px;
    text-align: start;
    color: #fff;
    margin-left: 10px;
}

.inside img {
    width: 20%;
    height: auto;
}

.history-section {
    margin-block: 30px;
    margin-inline: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    padding: 20px;
    text-align: start;
    background-color: rgb(116, 195, 214, 0.53);
    font-family: "Barlow Condensed", sans-serif;
}

.history-section h2 {

    font-family: "Iansui", cursive;
    font-style: normal;
    color: black;
    grid-column: 1 / -1;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.img-history img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-items: center;
}

section {
    margin-block: 30px;
    margin-inline: 30px;
    background-color: var(--accent1_coloe);
    padding: 20px;
}

.inside-2 {
    text-align: center;
    font-family: "Iansui", cursive;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.inside-2 h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
    font-style: normal;
}

.hola {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hola figure {
    text-align: center;
    margin: 0;
}

.hola img {
    width: 200px;
    height: 200px;
    display: block;
}

.hola figcaption {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: #00000088;
    color: white;

}

a {
    text-decoration: none;
}

/*Footer*/
footer {
    display: flex;
    max-width: 100%;
    background-color: var(--accent2_color);
    align-items: center;
    font-size: 18px;
    padding: 20px;
    margin-block: 30px;
    margin-inline: 30px;
}

footer p {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.sociallinks {
    display: flex;
    gap: 30px;

}

/*Contact us*/
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: gainsboro;
    display: grid;

}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

legend {
    color: rgb(60, 94, 36);
    padding: 0.5rem;
    font-size: large;
}

label,
input,
select,
textarea {

    font-family: "Quicksand";
    font-weight: 600;

}

label {

    text-align: right;
    padding-right: 0.5rem;
}

input,
select,
textarea {
    padding: 0.5px;
    font-size: 15px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: darkkhaki;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: medium;
}

button:hover {
    background-color: darkgreen;
}

.contact h1 {
    text-align: center;
    font-size: 2rem;
    color: #7baba6;
    margin-bottom: 40px;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: rgb(209, 206, 206);
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 80px;
    margin-inline: 30px;
}

.contact-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;

}
.contact-text p {
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: left;
    
}

.map {
    flex: 1;
}

.content-wrap2 {
    display: flex;
    margin-inline: 30px;
}

.happy-people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.happy-people img, p {
    margin-top: 15px;
    border-radius: 5px;
    width: 200px;

}

.happy-people p {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}