:root {
    --border: 1px solid #000;
    --heading-text-color: darkblue;
    --nav-background-color: darkblue;
    --text-align: center;

}
nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-text-color);
}
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px rgb(89, 68, 68);
}
p  {
    padding: 0;
}
main {
    max-width: 500px;
}
aside {
    width: 250px;
    margin: 20px;
    border: var(--border);
    padding: 15px;
    background-color:#eadeb9;
    color: #9c6262;
    text-align: var(--text-align);
}
aside img{
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}
